* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1800px;
    height: auto;
}

.border {
    border: 1px gray solid;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.margin {
    margin-top: 50px;
}

.margin-item-between {
    margin-bottom: 20px;
}

.navigation {
    width: 20%;
    height: 200px;
}


.main-box {
    display: block;
    width: 80%;
    height: 800px;
}

.item {
    width: 600px;
    margin: 0 auto 20px;
}

.img-box {
    width: 100px;
    padding: 5px 15px;
}

/*.category {*/
/*    width: 200px;*/
/*    padding-left: 100px;*/
/*    padding-top: 50px;*/
/*}*/

/*.price {*/
/*    width: 100px;*/
/*    padding-top: 50px;*/
/*    text-align: center;*/
/*}*/

.add-to-cart {
    height: 40px;
    width: 150px;
}

.remove-from-cart {
    height: 40px;
    width: 150px;
}
