* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.margin {
    margin-left: 10px;
}

.container {
    margin: 200px auto;
    width: 460px;
    height: 60px;
    display: block;
    background-color: #c5c5c5;
    padding-top: 30px;
    border-radius: 5px;
}

.flex {
    display: flex;
}

.result {
    width: 87px;
    height: 16px;
    border-radius: 5px;
    background-color: #ececec;
    text-align: center;
    padding: 8px;
    font-size: 13px;
}

.operand, .operator {
    border-radius: 5px;
    height: 30px;
    border-style: none ;
    background-color: #ececec;
    text-align: center;
}

.operand {
    width: 95px;
}

.operator {
    width: 30px;
    appearance: none;
    padding-left: 11px;
}

.equal {
    margin-top: 6px;
}

.btn {
    height: 30px;
    padding: 5px 10px;
    background-color: #727375;
    border-radius: 5px;
    border: none;
    color: white;
}

.alert {
    display: none;
    width: 150px;
    margin: 0 65%;
}






